@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Comfortaa:wght@300&family=Lato:wght@300;400;700&family=Lobster&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200;300&family=Roboto:wght@100;300&family=Source+Sans+Pro:wght@300&family=Work+Sans:ital,wght@0,300;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
}
/** EMPIEZO LOS ELEMENTOS DEL HEADER*/
.contacto-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: black;
    height: 70px;
    padding: 0 8px;

}
.redes{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 10px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.fa-solid.fa-bars{
    font-size:2rem;
    color:white;
}
@media (max-width:426px) {
    /*MODIFICO LA SEARCH BAR DE HEADER*/
    .fa-solid.fa-magnifying-glass{
        display: none;
    }
    /****************/
      /* MODIFICO EL LOGO DEL HEADER*/
      .logo-header{
        width: 100px;
        height: 50%;
        border-radius: 3px;
    }
   /**************/
   
    #btnHamburguesa{
        display: none;
    }
    .redes{
        display: none;
    }
    .btnHamburguesa{
        position: relative;
    }
    
    .search-bar input{
        
        height: 30px;
    }
    .menu{
        position: absolute;
        display: none;
        list-style: none;
        border-bottom: 1px solid gray;
        width: 100%;
    }
    .menu-link{
        text-decoration: none;
    }
    #btnHamburguesa:checked ~ .menu{
        display: flex;
        flex-direction: column;
        left:0; 
        top:70px;  
        transition: all 0.3s;  
    }
    .menu-item.infousuario{
        padding:40px;
        gap:20px;
        border-bottom: none;
    }
    .infousuario{
        display: flex;
        flex-direction: column;
    }
    .child-one{
        display: flex;
    }
    .fa-solid.fa-user{
    font-size: 3rem;
    padding: 15px;
    }
    .buttons-infousuario{
        display: flex;
        justify-content: center;
        gap:10px;
    }
    .buttons-infousuario button{
        width: 150px;
        height: 30px;
        border-radius: 5px;
        
    }
    .menu-item{
        padding:10px;
        font-size: 1.4rem;
        
        
    }
    .fa-solid.fa-ellipsis-vertical, .fa-solid.fa-star, .fa-solid.fa-tag, .fa-solid.fa-house-chimney{
        
        height: 100%;
        width: 40px;
        font-size: 1.8rem;
        text-align: center;
    }





    
}
@media (max-width:376px){
    /*MODIFICO SEARCH BAR HEADER*/
  
}

